*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.full-body{
    background-color: rgb(255, 243, 166)
}
.container{ 
    max-width: 992px;
    margin: 150px auto;
    display: grid;
    grid-template-columns:230px repeat(1,1fr);
    grid-template-areas: 
    "side-nav full-main" 
    "side-nav full-main" 
    "side-nav aside-bar"  
    ;

}
.side-nav{
    background-color: rgb(209, 216, 214);
    padding-left: 20px;
}
.side-nav-back{
    display: flex;
    flex-direction: column;
}
.nav-icon-border{
    margin: 20px 0px;
    background-color: aliceblue;
    width: 18px;
    height: 15px;
    border-radius: 50%;
    padding: 20px;
}
.nav-btn{
    width: 90%;
    height: 40px;
    background-color: #00eaff;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1em;
}
.side-nav-list h3{
    margin: 20px 0px;
}
.side-nav-list li {
    list-style: none;
    padding: 5px 0px;
    color: black;
}
.side-nav-list a{
    text-decoration: none;
}
.nested-list i{
    margin-right: 7px;
}
.side-nav-footer{
    padding: 150px 20px;
}
.side-nav-footer hr{
    margin: 20px 0 ;
    width: 90%;
    border: 2px solid #00eaff;
    border-radius: 2px;
}
.off-font, .angle-awrrow, small{
    color: #aaa9a9;
    margin: 0 5px;
}
.footer-font{
    float: right;
    color: #00eaff;
    font-weight: 600;
}
.footer-angles{
    display: flex;
    justify-content: space-between;
}
.angle-awrrow{
    display: flex;
    flex-direction: column;
}
.full-main{
    display: flex;
    flex-direction: column;
    background-color: aliceblue; 
}
.folder-card img{
    width: 20%;
    margin: 20px 20px;
}

